<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <title>Armando Gautreaux's Portfolio</title>

  <!-- MAIN CSS FILES -->
  <link rel="shortcut icon" href="/public/images/favicon.ico" />
  <link rel="icon" type="image/png" href="/public/images/favicon-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" sizes="180x180" href="/public/images/apple-touch-icon-180x180.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous" />
  <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>

  <!-- Top Navbar -->
  <nav class="navbar navbar-expand-md navbar-light py-4 bg-white flex-row container">

    <!-- Left Icon -->
    <span class="navbar-text d-none d-md-block">
      <small class="left-icon-top">
        <a href="/"><i class="fas fa-home"></i></a>
      </small>
    </span>

    <!-- Brand -->
    <a class="navbar-brand mx-md-auto mr-auto" href="/">
      ARMANDO GAUTREAUX<small class="title py-0">PORTFOLIO</small>
    </a>

    <!-- Right Icons -->
    <div class="navbar-text d-none d-md-block right-icons-top">
      <a href="https://github.com/armandogautreaux" class="mx-1" target="_blank">
        <i class="fab fa-github-square"></i>
      </a>
      <a href="https://www.linkedin.com/in/armando-gautreaux-78932059/" class="mx-1" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
    <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarContent">
      <i class="fas fa-bars"></i>
    </button>
  </nav>

  <!-- Bottom Navbar -->
  <nav class="navbar p-0  navbar-expand-md navbar-light bg-white second-nav container">
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav mx-md-auto mx-0 w-50 align-items-start nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/portfolio">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


  {{{ body }}}

  <!-- Footer -->
  <footer class="footer py-2">
    <div class="container container-footer">
      <ul class="nav footer-ul">
        <li class="nav-item footer-li pl-0 ">
          <small class="nav-link navlink-bo-1 pl-0">
            &copy; <span id="year"></span> SMU Certified Developer
          </small>
        </li>
        <li class="nav-item footer-li ml-auto d-block d-md-none">
          <small class="nav-link navlink-bo-1">
            <a href="https://github.com/armandogautreaux" class="mx-1" target="_blank">
              <i class="fab fa-github-square"></i>
            </a>
          </small>
        </li>
        <li class="nav-item footer-li d-block d-md-none">
          <small class="nav-link navlink-bo-1  pl-0 pr-0">
            <a href="https://www.linkedin.com/in/armando-gautreaux-78932059/" target="_blank" class="mx-1">
              <i class="fab fa-linkedin"></i>
            </a>
          </small>
        </li>
        <li class="nav-item footer-li ml-md-auto d-none d-md-block">
          <a class="nav-link" href="https://www.linkedin.com/in/armando-gautreaux-78932059/" target="_blank">Linkedin</a>
        </li>
        <li class="nav-item footer-li d-none d-md-block">
          <a class="nav-link" href="https://github.com/armandogautreaux" target="_blank">Github</a>
        </li>
        <li class="nav-item footer-li d-none d-md-block">
          <a class="nav-link pr-0" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </footer>



  <!--MODAL-->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" data-dismiss="modal">&times;</button>
        </div>
        <div modal="modal-body" class="pt-2 pb-4 px-4 text-center">
          <h3 class="about-inner-text" id="modalBody"></h3>
        </div>

        <div modal="modal-footer" class="px-4 pb-2 text-center">
          <h3 class="about-inner-text">Armando Gautreaux
          </h3>
        </div>
      </div>
    </div>
  </div>

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
    crossorigin="anonymous "></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js " integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T "
    crossorigin="anonymous "></script>
  <script src="/public/js/app.js"></script>
  <script>
    //Get the current year of the copyright
    $('#year').text(new Date().getFullYear());
  </script>
</body>

</html>