<div class="container about-section">
  <div class="row">
    <div class="m-auto col-md-6 col-sm-12 about-section-inner text-center pt-2 pb-5">
      <img src="/public/images/photo3.jpg" alt="profile">
      <h2 class="aboutmehead mt-5">Hi, I am Armando, nice to meet you?</h2>
      <p class="mt-4">
        Hello, my name is Armando and I am a certified full-stack JS
        Developer based in Dallas TX. Some of my coding skills include Vanilla JavaScript, JQuery, Node,
        Express, MySQL, Mongo, Handlebars and React.
      </p>
      <p>
        I am also a amateur designer with certifications in Typography
        and Fundamentals of Graphic Design for CalArts. I invite you
        to visit my project seccion and read a small description about
        each of them, you can even visit each site (live) or see my
        code through Github. Wishing you the best of luck.
      </p>
    </div>
  </div>
</div>