<div class="left-1">
  <p class="tittlehead mt-5 text-center">About me</p>

</div>

<div class="right-1">
  <div class="about-inner-text mt-0 mb-3 mx-auto">

    <p class="mt-5 mb-4">
      Hello, my name is Armando Gautreaux, I am a full-stack JS
      Developer with experience in all 5 stages of the web
      development process including: information gathering,
      planning, design, development, testing and delivery. Some of
      my Coding Skills include Vanilla JavaScript, JQuery, Node,
      Express, MySQL, Mongo, Handlebars and React.
    </p>
    <p>
      I also have a modest knowledge in Photoshop, Illustrator and
      Sketch, some of my certifications in Design include Typography
      and Fundamentals of Graphic Design for CalArts. I invite you
      to visit my project seccion and read a small description about
      each of them, you can even visit each site (live) or see my
      code through Github. I am so thankfull that you spend the time
      reading my profile. Wishing you the best of luck.
    </p>
  </div>

</div>