<div class="container-holder">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-9 offset-md-2 about-section">
        <h2 class="title-contact mb-4">
          About Me
        </h2>
        <img src="/public/images/photo4.jpg" class="mb-4" alt="profile">

        <p class="mb-5 about-inner-text">
          Hi, I'm Armando Gautreaux, a certified Full-Stack Web Developer with a background in humanities and life-long
          dedication to learning. Adept at working with diverse teams to implement projects JS.
          <br>
          <br>
          Some of my coding skills include Vanilla JavaScript, JQuery, Node, Express, MySQL, Mongo, Handlebars and
          React. I am also an amateur designer with certifications in Typography and Fundamentals of Graphic Design
          for CalArts. I invite you to visit my project section and read a small description about each of them, you
          can visit every site (live) or see my code through Github. Thank You. </p> <a href="/portfolio" class="link-about">Go
          to Projects <i class="fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>