<!-- LANDING PAGE -->
<div class="container-holder">
  <div class="container-fluid">
    <div class="row">
      <div class="landing-inner col-md-10 offset-md-2 content-div">
        <h6 class="title-landing">Portfolio</h6>
        <h2 class="main-heading">ARmando <br>GautReaux</h2>
        <div class="line-break"></div>
        <div class="row second-landing">
          <div class="col-sm-12 col-md-7">
            <p class="subtext font-italic"> Web Developer based in Dallas, TX. Experienced in designing &
              developing Full-Stack JS Apps</p>
          </div>
          <div class="col-md-5 text-right">
            <a href="/about" class="btn btn-rounded-gold"> <i class="fas fa-angle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>