<!-- MAIN CONTENT -->
<div class="main-content text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">

        <h1 class="main-heading mb-0">Armando Gautreaux</h1>

        <p class="paragraph-inner font-italic">
          SMU Certified Full-Stack JS Developer <br> based in Dallas TX
        </p>

        <a href="/portfolio" class="btn btn-white-1 py-3 mt-2 mx-1"> See Projects</a>
        <a href="/contact" class="btn btn-secondary-1 py-3 px-4 mt-2"> Contact </a>
        {{!--
        <a href="/portfolio" class="btn btn-white-1 py-3 mt-5 mr-1"> See Projects</a>
        <a href="/contact" class="btn btn-secondary-1 py-3 px-4 mt-5 ml-1"> Contact </a> --}}

        <div class="heading-tag">
          <h5 class="second-hed text-center mb-5">
            PORTFOLIO
          </h5>

        </div>
      </div>

    </div>

  </div>


</div>