<div class="container-holder">
  <div class="container-fluid">
    <div class="row portfolio">
      <span class="closing-toggle text-right btn d-block d-md-none" data-state="open"><i class="fas fa-times"></i></span>
      <div class="col-sm-12 col-md-6 offset-md-2 overlay-content-section project-content">
        <h2 class="ProjectName">
          Organic Fitness World
        </h2>

        <p class="subtitle mb-4">
          ONLINE STORE - 2018
        </p>
        <p class="text-container-inner mt-1 mb-4">

          Online Store specialized in organic products for athletes such as groceries, supplements and clothing.
          This
          full stack app features: MongoDB, Express, React, Redux, NodeJS, Sass, ReactStrap, and Passport JWT.
        </p>
        <div class="gallery">
          <img src="public/images/img01.jpg" alt="ONLINE STORE - 2018" class="img-inner1 img">
          <img src="public/images/img02.jpg" alt="ONLINE STORE - 2018" class="ml-2 img-inner2 img">
          <img src="public/images/img03.jpg" alt="ONLINE STORE - 2018" class="ml-2 img-inner3 img">
        </div>
        <a href="#" id="btn-display">Show Images</a>
        <ul class="links-port text-right">
          <li class="link-under-2">

            <a href="https://github.com/igorcweb/online-store" class="btn btn-custom under-1" target="_blank">SEE
              CODE</a>

          </li>
          <li class="link-under-1">

            <a href=" https://organic-fitness-world.herokuapp.com/" class="btn btn-custom under-2 ml-2" target="_blank">VISIT
              SITE</a>
          </li>

        </ul>
      </div>
      <div class="col-sm-12 col-md-3 right-test order-first order-md-last">

        <ul class="menu__list mt-3 px-0">
          <h3 class="projectsub mb-4">PROJECTS</h3>
          <li class="menu__item">
            <a href="" class="menu__link menu__link1">Organic Fitness World</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link2">FlyAway</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link3">Newstaker</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link4">Eat-Da-Burger!</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link5">FriendFinder</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link6">Bamazon</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link7">Train-Scheduler</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link8">GifTastic</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link9">TriviaGame</a>
          </li>
          <li class="menu__item">
            <a href="" class="menu__link menu__link10">Crystal Collector</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>