/*
	Author: Armando Gautreaux
	Template: Bootstrap-Portfolio
	Version: 0.1
	GITHUB: https://github.com/armandogautreaux
*/

/* TABLE OF CONTENTS

	1.   General Styles
  2.   Main Header
  2.1  Logo
  2.2  Navigation
  3.   Main Content
	3.1  Page Title
	4.   Main Footer
	5.   Portfolio

*/

/*
  ========================================
  1. General Styles
  ========================================
  
*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

/*
  ========================================
  Navbar
  ========================================
*/
.navbar-brand {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #2e2e2e !important;
  letter-spacing: 2px;
}
.title {
  font-family: 'Lato', sans-serif;
  letter-spacing: 2px;
  color: rgb(0, 0, 0);
  font-size: 8px;
  display: block;
  font-weight: 700;
  position: absolute;
}

.navbar-nav,
.nav-item,
.nav-link {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
  font-size: 0.7rem;
  color: rgb(0, 0, 0);
}
.navbar-collapse {
  padding: 10px 20px 20px 20px;
}

.left-icon-top {
  position: absolute;
  top: 15px;
  left: 0;
}
.right-icons-top {
  position: absolute;
  top: 7px;
  right: 0px;
}

.navbar-toggler {
  border: none;
}

.fa-bars {
  color: black !important;
}
.nav-fill > li {
  text-transform: uppercase !important;
}

.fa-linkedin,
.fa-github,
.fa-envelope,
.fa-github-square,
.fa-home {
  color: rgba(59, 59, 59, 0.459);
  font-size: 1.3rem;
}

.second-nav {
  border-bottom: 1px black solid;
}

/*
  ========================================
  Footer
  ========================================
*/

.footer {
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif !important;
  color: #a5a5a5;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 100%;
  font-size: 0.6rem !important;
  font-family: 'Montserrat', sans-serif !important;
}

.footer-li > .nav-link {
  font-size: 0.6rem !important;
  font-family: 'Montserrat', sans-serif !important;
}

.button-footer {
  border: 0px !important;
  font-size: 0.6rem !important;
  background: transparent !important;
  letter-spacing: 1px;
}

/*
  ========================================
  Modal
  ========================================
*/

.modal {
  border-radius: 0% !important;
}

.modal {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.close {
  color: #e93c2c;
}

/* ---- LANDING----  */

.main-content {
  background: linear-gradient(to right, #62aeb7 0%, #a7ebf6 100%);
  min-height: 78vh;
  background-size: cover;
}
.main-heading {
  color: #ffffff;
  margin-top: 120px;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif !important;
}

.paragraph-inner {
  font-weight: 500;
  letter-spacing: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7rem;
  color: #ffffffbb;
}

.btn-white-1 {
  margin-top: 20px;
  background: #ffffff;
  border: 0;
  border-radius: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
}
.btn-secondary-1 {
  background: transparent;
  text-transform: uppercase;
  border: 1px solid rgb(253, 253, 253);
  border-radius: 0;
  font-weight: 400;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 0;
}

/* ---- ABOUT ----  */
.about-section {
  background: #fafafa;
  background-size: cover;
  min-height: 78vh;
}

.about-section-inner {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.4rem;
  letter-spacing: 0.8px;
}
.about-section-inner > img {
  border-radius: 50%;
  width: 100px;
  margin-top: 9%;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 9%;
}

.aboutmehead {
  color: black;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif !important;
}

.link-about {
  /* letter-spacing: 1px; */
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  color: black;
}

.link-about > i {
  left: 166px;
  bottom: 3px;
}
/* ---- PORTFOLIO----  */
.portfolio {
  height: auto;
}

.overlay-content-section img {
  width: 30%;
  height: auto;
}

.project-content {
  background: #80c0ca;
  min-height: 78vh;
}

.ProjectName {
  color: #ffffff;
  margin-top: 120px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif !important;
}
.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(252, 252, 252, 0.541);
  text-transform: uppercase;
  letter-spacing: 1px;
}
.text-container-inner {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 300;
  color: white;
  letter-spacing: 1px;
}
.gallery {
  display: none;
  margin: 10px 0;
}

.gallery > img:hover {
  transform: scale(2);
}

#btn-display {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background: #00000062;
  border: none;
  border-radius: 0%;
  font-size: 0.6rem;
  padding: 10px;
}

.links-port {
  margin-top: 100px;
}

.links-port > li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 0.4rem;
}
.btn-custom {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background: #20202054;
  border: none;
  border-radius: 0%;
  font-size: 0.6rem;
}
.under-1 {
  background: #ffffff52;
}
.under-2 {
  background: #fd9270;
  color: black;
}

/* ---- PORTFOLIO RIGHT PART ----  */

.right-test {
  background: #252525;
}
.menu__list {
  list-style-type: none;
}
.projectsub {
  font-size: 0.8rem;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.menu__link {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 0.8rem;
  padding: 10px 0;
  font-weight: 100;
  color: rgb(218, 218, 218);
  text-decoration: none;
  letter-spacing: 2px;
}

/* ----- CONTACT ---- */
.contact-section {
  margin-top: 40px;
}

.title-contact {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.right-1 {
  min-height: 76vh;
  background-size: cover;
}

.about-inner-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 1.4rem;
  letter-spacing: 0.8px;
}

input[type='text'].form-control::-webkit-input-placeholder,
input[type='email'].form-control::-webkit-input-placeholder,
textarea.form-control::-webkit-input-placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  border-width: 0px;
  border: none;
  box-shadow: none;
  margin: auto;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.labelfor {
  font-family: 'Arial Narrow Bold', sans-serif;
  font-size: 0.7rem;
  font-weight: 900;
}

.form-control {
  border: 0;
  border-bottom: 1px solid rgb(204, 204, 204);
  border-radius: 0%;
  background: transparent;
  padding-left: 0;
}

.modal-header,
.modal-footer {
  border-radius: 0%;
  border: 0;
}

.btn-secondary {
  background: rgb(185, 184, 184);
  border: 0;
  border-radius: 0;
  font-weight: 700;
  font-size: 0.9rem;
  color: black;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  padding: 15px 10px;
}
.fa-angle-right {
  position: absolute;
  right: 60px;
  color: black;
  font-size: 1rem;
}

.closing-toggle {
  color: rgb(255, 255, 255);
  position: absolute;
  right: 10px;
  top: 90px;
  z-index: 10;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}
.closing-toggle:hover {
  color: rgb(255, 255, 255);
}

/* ---- 13. MEDIA QUERIES ----  */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .main-heading {
    font-size: 0.85rem;
    margin-top: 150px;
  }

  .closing-toggle {
    right: 40px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .title {
    margin-left: 80px;
  }
  .main-content {
    min-height: 70vh;
  }
  .main-heading {
    margin-top: 190px;
  }
  .about-section {
    min-height: 70vh;
  }
  .about-section-inner {
    padding-bottom: 40px !important;
  }
  .test-new {
    min-height: 70vh;
  }
  .right-1 {
    min-height: 70vh;
  }
  .title-contact {
    margin-top: 60px !important;
  }
  .menu__list {
    text-align: center;
    margin-top: 60px !important;
  }
  .overlay-content-section {
    padding: 70px 100px 0 100px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
